
:root {
    --hauteur-entete : calc(3rem);
    --bleu-crater: #274C78;
    --vert: #016062;
    --blanc: #FFFFFF;
    --gris: #D0D4D8;
}

p,
li,
a {
    font-family: var(--font-family-texte);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

h1 {
    font-family: var(--font-family-titre);
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0.04em;
}

h2 {
    font-family: var(--font-family-titre);
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.04em;
}

h3 {
    font-family: var(--font-family-titre);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
}

@media screen and (max-width: 750px) {
    h2 {
        font-family: var(--font-family-titre);
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.04em;
    }

    h1 {
        font-family: var(--font-family-titre);
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.04em;
    }
}

body {
    margin: 0;
}

main {
    padding-left: 10px;
    padding-right: 10px;
}

h1, h2, h3 {
    margin: 0;
}

p {
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header {
    background-color: var(--vert);
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--hauteur-entete);
    z-index: 500;
}

header h1,
header h3 {
    color: var(--blanc);
    padding: 0;
}
header h1 {
    font-weight: bold;
}
header h3 {
    text-transform:uppercase;
}

.page {
    margin: var(--hauteur-entete) auto 0;
    padding: 0;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/*  PAGE ACCUEIL */

#page-accueil {
    min-height: calc(100vh - var(--hauteur-entete));
}

#introduction {
    margin-top: 2rem;
}

#introduction h2 {
    padding-top: 1rem;
}

#rechercher {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}
#rechercher h2 {
    padding-bottom: 0.5rem;
}

#liens-applications {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 3rem;
}

.lien-application {
    width: 400px;
    border-radius: 20px;
    margin: 0.3rem;
}

.lien-application h2,
.lien-application p,
.lien-application a {
    color: var(--blanc);
}

.titre-application {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 40px;
    padding-top: 20px;
    padding-left: 1rem;
}

.image-application {
    background-color: var(--blanc);
    padding: 0.6rem;
}
.image-application img {
    max-width: 300px;
    width: auto;
    height: 50px;
    display: block;
    margin: auto;
}

.detail-application {
    max-width: 500px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    min-height: 100px;
}

.detail-application a {
    display: block;
    text-align: right;
    padding-right: 1rem;
    padding-bottom: 5px;
    color: var(--blanc)
}

.detail-application a:hover {
    color: var(--couleur-accent);
}

.detail-application p {
    padding: 10px;
}

.crater {
    background-color: var(--bleu-crater);
}

.parcel {
    background-color: var(--vert);
}

#en-savoir-plus {
    background-color: var(--bleu-crater);
    color: var(--blanc);
    width: 100vw;
    height: 4rem;
    text-align: center;
    display: flex;
}

#en-savoir-plus a {
    margin: auto;
    color: var(--blanc);
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}

#en-savoir-plus a:hover p {
    color: var(--couleur-accent);
}

#en-savoir-plus a:hover svg > *{
    stroke: var(--couleur-accent);
}

#en-savoir-plus a > * {
    padding: 0.2rem;
}

/*  PAGE DETAILS */

#page-details {
    min-height: calc(100vh - var(--hauteur-entete));
    padding-top: calc(1 * var(--hauteur-entete));
}

#description-applications {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.image-grande-application {
    max-height: 500px;
    display: block;
    padding-bottom: 1em;
}

.image-grande-application img {
    max-width: 100%;
    height: 260px;
    width: auto;
    display: block;
    margin: auto;
}


footer {
    background-color: var(--bleu-crater);
    color: var(--blanc);
    display: flex;
    flex-direction: column;
}

footer .logos {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer a {
    padding: 1rem;
    margin: auto;
}

footer img {
    width: 100px;
    height: auto;
}

footer #mentions-legales {
    padding: 0 0 0.5rem 0;
    color: var(--blanc);
}

@media screen and (max-width: 500px) {
    header h2 {
      display: none;
    }

    #page-details {
        margin-top: 0;
        padding-top: 0;
    }

    footer img {
        width: 50px
    }

    #en-savoir-plus {
        display: none;
    }
  }